<!DOCTYPE html>
<html>
<head>
    <title>{{ userprofileObject.belongs_to.username }}</title>
</head>
<body>
    <h1>{{ userprofileObject.display_name }}</h1>
    <p>@{{ userprofileObject.belongs_to.username }}</p>
    <p>{{ userprofileObject.description }}</p>
    
    <!-- {% if userprofileObject.youtube1_link != '' %}
        <a href="https://www.youtube.com/{{ userprofileObject.youtube1_link }}" target="_blank">{{ userprofileObject.youtube1_text }}</a>
    {% endif %} -->

    {% for userLink in userLinkList %}
        <p>
            <a href="{{ userLink.belongs_to_socialplatform.link }}{{ userLink.link }}" target="_blank">{{ userLink.text }}</a>
        </p>
    {% endfor %}



</body>
</html>