{% load static %}
<!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ userprofileObject.belongs_to.username }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <img src="{% static 'profilepic-002.webp' %}" alt="" class="pfp">
    <h1>{{ userprofileObject.display_name }}</h1>
    <!-- <p>@{{ userprofileObject.belongs_to.username }}</p> -->
    <p>{{ userprofileObject.description }}</p>
    
    {% if userprofileObject.custom_link and userprofileObejct.custom_text != '' %}
        <a href="{{ userprofileObject.custom_link }}" target="_blank">{{ userprofileObject.custom_text }}</a>
    {% endif %}

    {% for userLink in userLinkList %}
        <a href="{{ userLink.belongs_to_socialplatform.link }}{{ userLink.link }}" target="_blank">
            <img src="{% get_static_prefix %}{{ userLink.belongs_to_socialplatform.icon }}" alt="" class="soc-icon">
            {{ userLink.text }}
        </a>
    {% endfor %}

    </div>
</html>